In [64]:
import pandas as pd
import numpy as np

In [65]:
train = pd.read_csv('/home/tung/Desktop/input/train_final.csv')

In [66]:
train.head()

,feature_1,feature_2,feature_3,elapsed_time,hist_transactions_count,hist_category_1_sum,hist_category_1_mean,hist_category_2_1.0_mean,hist_category_2_2.0_mean,hist_category_2_3.0_mean,...,installments_min_mean,installments_min_std,installments_max_mean,installments_max_std,installments_std_mean,installments_std_std,authorized_flag_sum,authorized_flag_mean,card_id,first_active_month
0,1.597335,0.338839,0.876431,-0.466376,0.311084,-0.234615,-0.548342,1.203092,-0.209665,-0.432998,...,-0.098800,-0.041617,-0.085851,-0.053041,-0.024789,-0.035181,1.667028,0.494966,C_ID_92a2005557,2017-06-01
1,0.754276,-0.992082,-1.140992,0.047738,0.150070,0.011414,0.048638,0.798033,-0.209665,-0.432998,...,0.252809,0.279891,0.288626,0.225142,0.202897,0.323511,2.594044,0.657240,C_ID_3d0044924f,2017-01-01
2,-0.931842,0.338839,-1.140992,0.568661,-0.574497,-0.234615,-0.548342,-1.024733,-0.209665,-0.432998,...,-0.116381,-0.081152,-0.127460,-0.093761,NaN,NaN,-0.408683,0.525447,C_ID_d639edf6cd,2016-08-01
3,0.754276,1.669759,-1.140992,-0.779611,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.045938,0.931856,C_ID_186d6a6901,2017-09-01
4,-1.774901,1.669759,-1.140992,-0.987299,-0.332975,0.134429,1.421691,-1.024733,-0.209665,-0.432998,...,0.569258,0.672080,0.413451,0.484505,-0.065333,-0.085980,0.467952,0.603368,C_ID_cdbd2c0db2,2017-11-01

In [73]:
print(list(train.columns))

['feature_1', 'feature_2', 'feature_3', 'elapsed_time', 'hist_transactions_count', 'hist_category_1_sum', 'hist_category_1_mean', 'hist_category_2_1.0_mean', 'hist_category_2_2.0_mean', 'hist_category_2_3.0_mean', 'hist_category_2_4.0_mean', 'hist_category_2_5.0_mean', 'hist_category_3_A_mean', 'hist_category_3_B_mean', 'hist_category_3_C_mean', 'hist_merchant_id_nunique', 'hist_purchase_amount_sum', 'hist_purchase_amount_mean', 'hist_purchase_amount_max', 'hist_purchase_amount_min', 'hist_purchase_amount_std', 'hist_installments_sum', 'hist_installments_mean', 'hist_installments_max', 'hist_installments_min', 'hist_installments_std', 'hist_purchase_month_mean', 'hist_purchase_month_max', 'hist_purchase_month_min', 'hist_purchase_month_std', 'hist_purchase_date_ptp', 'hist_purchase_date_min', 'hist_purchase_date_max', 'hist_month_lag_min', 'hist_month_lag_max', 'hist_month_lag_std', 'hist_month_lag_sum', 'auth_transactions_count', 'auth_category_1_sum', 'auth_category_1_mean', 'auth_category_2_1.0_mean', 'auth_category_2_2.0_mean', 'auth_category_2_3.0_mean', 'auth_category_2_4.0_mean', 'auth_category_2_5.0_mean', 'auth_category_3_A_mean', 'auth_category_3_B_mean', 'auth_category_3_C_mean', 'auth_merchant_id_nunique', 'auth_purchase_amount_sum', 'auth_purchase_amount_mean', 'auth_purchase_amount_max', 'auth_purchase_amount_min', 'auth_purchase_amount_std', 'auth_installments_sum', 'auth_installments_mean', 'auth_installments_max', 'auth_installments_min', 'auth_installments_std', 'auth_purchase_month_mean', 'auth_purchase_month_max', 'auth_purchase_month_min', 'auth_purchase_month_std', 'auth_purchase_date_ptp', 'auth_purchase_date_min', 'auth_purchase_date_max', 'auth_month_lag_min', 'auth_month_lag_max', 'auth_month_lag_std', 'auth_month_lag_sum', 'new_transactions_count', 'new_category_1_sum', 'new_category_1_mean', 'new_category_2_1.0_mean', 'new_category_2_2.0_mean', 'new_category_2_3.0_mean', 'new_category_2_4.0_mean', 'new_category_2_5.0_mean', 'new_category_3_A_mean', 'new_category_3_B_mean', 'new_category_3_C_mean', 'new_merchant_id_nunique', 'new_purchase_amount_sum', 'new_purchase_amount_mean', 'new_purchase_amount_max', 'new_purchase_amount_min', 'new_purchase_amount_std', 'new_installments_sum', 'new_installments_mean', 'new_installments_max', 'new_installments_min', 'new_installments_std', 'new_purchase_month_mean', 'new_purchase_month_max', 'new_purchase_month_min', 'new_purchase_month_std', 'new_purchase_date_ptp', 'new_purchase_date_min', 'new_purchase_date_max', 'new_month_lag_min', 'new_month_lag_max', 'new_month_lag_std', 'new_month_lag_sum', 'month_lag_mean', 'month_lag_std', 'purchase_amount_count_mean', 'purchase_amount_count_std', 'purchase_amount_sum_mean', 'purchase_amount_sum_std', 'purchase_amount_mean_mean', 'purchase_amount_mean_std', 'purchase_amount_min_mean', 'purchase_amount_min_std', 'purchase_amount_max_mean', 'purchase_amount_max_std', 'purchase_amount_std_mean', 'purchase_amount_std_std', 'installments_count_mean', 'installments_count_std', 'installments_sum_mean', 'installments_sum_std', 'installments_mean_mean', 'installments_mean_std', 'installments_min_mean', 'installments_min_std', 'installments_max_mean', 'installments_max_std', 'installments_std_mean', 'installments_std_std', 'authorized_flag_sum', 'authorized_flag_mean', 'card_id', 'first_active_month']

In [67]:
train.replace([np.inf, -np.inf], np.nan,inplace=True)
train.fillna(0,inplace = True)

In [68]:
train.shape

(201917, 133)

In [69]:
def numeric_to_cat(df,col_name):
#     cat_name = [col_name+'_'+str(x) for x in range(4)]
#     print(cat_name)
    df = pd.qcut(df,[0, .50, .75, 1.],
#                  labels=cat_name,
                 duplicates='drop'
                )
    return df

In [70]:
excluded =['card_id']
col_to_cat = [col for col in train.columns if col not in excluded]
for col in col_to_cat:
    train[col] = numeric_to_cat(train[col],col)

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [28]:
train.head()

,feature_1,feature_2,feature_3,elapsed_time,hist_transactions_count,hist_category_1_sum,hist_category_1_mean,hist_category_2_1.0_mean,hist_category_2_2.0_mean,hist_category_2_3.0_mean,...,installments_min_mean,installments_min_std,installments_max_mean,installments_max_std,installments_std_mean,installments_std_std,authorized_flag_sum,authorized_flag_mean,card_id,first_active_month
0,"(-0.0888, 1.597]","(-0.993, 0.339]","(-1.142, 0.876]","(-0.78, -0.466]","(-0.172, 0.311]","(-0.236, 0.0114]","(-0.549, 0.546]","(0.567, 1.203]","(-0.211, 5.729]","(-0.434, 2.723]",...,"(-0.116, -0.0953]","(-0.0822, -0.0384]","(-0.127, -0.0859]","(-0.0675, -0.0508]","(-0.0453, 0.00657]","(-0.0363, -0.00206]","(0.387, 24.742]","(0.46, 0.776]",C_ID_92a2005557,2017-06-01
1,"(-0.0888, 1.597]","(-0.993, 0.339]","(-1.142, 0.876]","(-0.466, 0.0477]","(-0.172, 0.311]","(-0.236, 0.0114]","(-0.549, 0.546]","(0.567, 1.203]","(-0.211, 5.729]","(-0.434, 2.723]",...,"(0.00417, 105.261]","(-0.00496, 68.257]","(0.039, 83.006]","(0.0114, 52.423]","(0.00657, 106.378]","(-0.00206, 81.002]","(0.387, 24.742]","(0.46, 0.776]",C_ID_3d0044924f,2017-01-01
2,"(-1.7759999999999998, -0.932]","(-0.993, 0.339]","(-1.142, 0.876]","(0.0477, 0.569]","(-0.656, -0.574]","(-0.236, 0.0114]","(-0.549, 0.546]","(-1.0259999999999998, -0.876]","(-0.211, 5.729]","(-0.434, 2.723]",...,"(-0.223, -0.116]","(-0.0822, -0.0384]","(-0.212, -0.127]","(-0.0948, -0.0675]",NaN,NaN,"(-0.459, -0.177]","(0.46, 0.776]",C_ID_d639edf6cd,2016-08-01
3,"(-0.0888, 1.597]","(0.339, 1.67]","(-1.142, 0.876]","(-1.3019999999999998, -0.78]",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"(-0.177, 0.387]","(0.776, 0.932]",C_ID_186d6a6901,2017-09-01
4,"(-1.7759999999999998, -0.932]","(0.339, 1.67]","(-1.142, 0.876]","(-1.3019999999999998, -0.78]","(-0.413, -0.172]","(0.0114, 185.517]","(0.546, 2.735]","(-1.0259999999999998, -0.876]","(-0.211, 5.729]","(-0.434, 2.723]",...,"(0.00417, 105.261]","(-0.00496, 68.257]","(0.039, 83.006]","(0.0114, 52.423]","(-0.0663, -0.0453]","(-0.087, -0.0363]","(0.387, 24.742]","(0.46, 0.776]",C_ID_cdbd2c0db2,2017-11-01